.button {
  align-items: center;
  border-radius: .75rem;
  border-width: 1px;
  display: flex;
  padding: 10px;
}

.button:hover {
  cursor: pointer;
}

.emphasized {
  border-radius: 0.75rem;
  background-color: #39542D;
  color: white;
  border: 0.1rem solid #39542D;
}

.standard {
  background-color: transparent;
  color: #39542D;
  border-color: #39542D;
}

.disabledEmphasized {
  border-radius: 0.5rem;
  background-color: #7575751A;
  color: #39542D80;
  border: 0;
}

.disabledEmphasized:hover {
  cursor: initial;
}

.disabledStandard {
  border-radius: 0.5rem;
  background-color: #FFFFFF;
  color: #39542D80;
  border-color: #39542D80;
  border: 0.5;
}

.disabledStandard:hover {
  cursor: initial;
}

.buttonLabel {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
}