.button {
    display: flex;
    align-items: center;
    color: #39542D;
    background-color: #bc6c26;
    border-radius: 10px;
    margin-top: 1rem;
    height: 43px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50px;
}

.content {
    color: #FFFFFF;
    text-align: left;
    font-size: 15px;
    font-weight: 400;
    flex-grow: 1;
}

.button:hover {
    cursor: pointer;
}
